include block_html/_style.pug
include block_html/_include.pug

.slide-menu
	.slide-menu__block
		.slide-menu__title каталог
		a(href="#").slide-menu__cat
			.slide-menu__cat-name по деталям
			+icon("arrow-right","icon")
		a(href="#").slide-menu__cat
			.slide-menu__cat-name по маркам
			+icon("arrow-right","icon")
	.slide-menu__block
		a(href="#").slide-menu__el
			.slide-menu__el-icon
				+icon("heart","icon")
			.slide-menu__el-name избранное
		a(href="#").slide-menu__el
			.slide-menu__el-icon
				+icon("compare","icon")
			.slide-menu__el-name сравнение
		a(href="#").slide-menu__el
			.slide-menu__el-icon
				+icon("user","icon")
			.slide-menu__el-name войти
		a(href="#").slide-menu__el
			.slide-menu__el-icon
			.slide-menu__el-name регистрация
	.slide-menu__block
		.slide-menu__list
			-
				var items = [
					'О компании ',
					'Акции',
					'Производители',
					'Контакты',
					'Оплата и доставка',
					'Как сделать заказ',
					'Вопросы и ответы',
					'Возврат товара',
					'Возврат денежных средства'
					];
			each item in items
				a(href="#").slide-menu__list-el #{item}
	.slide-menu__location
		.slide-menu__location-icon
			+icon("location","icon")
		.slide-menu__location-name Санкт-Петербург
	.slide-menu__block
		a(href="tel:+7 (983) 510-85-31").slide-menu__phone +7 (983) 510-85-31
		a(href="tel:+7 (913) 937-44-35").slide-menu__phone +7 (913) 937-44-35
.head
	//header-top
	.header-top-wrap
		.main-cont
			.header-top
				a(href="#").header-top__location
					.header-top__location-icon
						+icon("location","icon")
					span Санкт-Петербург
				.header-top__nav
					a(href="#").header-top__nav-el Акции
					a(href="#").header-top__nav-el О компании
					a(href="#").header-top__nav-el Контакты
				a(href="#").header-top__reg Регистрация
				a(href="#").header-top__enter
					+icon("user","icon")
					span Войти
	//header-top===end
	//header-middle
	.main-cont
		.header
			a(href="#").logo
				.logo-img
					img(src="img/logo.png", alt="")
				.logo-cont
					.logo-title PKSTYLE.RU
					.logo-text Интернет магазин оборудования для пикапов
			.header-phone
				a(href="tel:+7 (983) 510-85-31").header-phone__el +7 (983) 510-85-31
				a(href="tel:+7 (913) 937-44-35").header-phone__el +7 (913) 937-44-35
			.header-search
				form(action="#")
					input(type="text" placeholder="Поиск оборудования").input
				+icon("search","icon")
			.header-conf
				a(href="#").header-conf__el
					.header-conf__el-icon
						+icon("heart","icon")
						.header-conf__el-val 2
					.header-conf__el-text Избранное
				a(href="#").header-conf__el
					.header-conf__el-icon
						+icon("compare","icon")
					.header-conf__el-text Сравнение
				a(href="#").header-conf__el
					.header-conf__el-icon
						+icon("cart","icon")
						.header-conf__el-val 2
					.header-conf__el-text Корзина
	//header-middle

	//main-nav
	.nav-wrap
		.nav-wrap-container
			.main-cont
				.nav-mobile
					.nav-mobile__toggle.head-toggle
						+icon("menu","icon icon-open")
						+icon("close","icon icon-close")
					a(href="#").nav-mobile__logo pkstyle.ru
					.nav-mobile__search
						+icon("search","icon")
					.nav-mobile__basket
						+icon("cart","icon")
						.nav-mobile__basket-val 3
					.nav-mobile__search-form
						form(action)
							input(type="text" placeholder="Поиск").input

				.nav
					.nav-el.nav-el-menu
						+icon("menu","icon icon-open")
						+icon("close","icon icon-close")
						span марки авто
					.nav-list
						.nav-el
							a(href="#") кунги
						.nav-el
							a(href="#") крышки кузова
						.nav-el
							a(href="#") вкладиши в кузов
						.nav-el
							a(href="#") тенты
						.nav-el
							a(href="#") аксессуары
						.nav-el
							a(href="#") запчасти
			.nav-drop
				.main-cont
					.nav-drop__wrap
						.nav-drop__list.scroll-container
							- for (var i=0;i<14;i++)
								.nav-drop__list-el(class=i===0?'nav-drop__list-el--active':'')
									.nav-drop__list-name Nissan
									.nav-drop__list-val 100
									.nav-drop__list-icon
										+icon("arrow-right","icon")
						.nav-drop__sub.scroll-container
							- for (var j=1;j<10;j++)
								.nav-drop__sub-wrap(class=j===1?'nav-drop__sub-wrap--active':'')
									- for (var i=0;i<3;i++)
										a(href="#").nav-drop__sub-el свет5 #{j}
										a(href="#").nav-drop__sub-el стропы, тросы, такелаж #{j}
										a(href="#").nav-drop__sub-el шины #{j}
										a(href="#").nav-drop__sub-el диски #{j}
										a(href="#").nav-drop__sub-el экспедиционные багажники #{j}

						.nav-drop__banner
							img(src="img/banner.jpg", alt="")


	//main-nav===end

//filter

.mobile-toggle.mobile-toggle--filter
	.mobile-toggle__name Фильтр
	.mobile-toggle__icon
		+icon("arrow-down","icon")
.filter-wrap
	.main-cont
		.filter
			.filter__el
				.filter__el-name Марка авто
				.filter__el-list
					select.select-beauty
						option ToyotaToyotaToyotaToyotaToyota
						option Nissan
						option Mazda
			.filter__el
				.filter__el-name Год выпуска
				.filter__el-list
					select.select-beauty
						option 2018
						option 2017
						option 2016
			.filter__el.filter__el--type
				.filter__el-name Тип товара
				.filter__el-list
					select.select-beauty
						option Прицепное оборудование Прицепное оборудование Прицепное оборудование
						option Аморитзатор
						option Фары

//content

.page-wrap
	.main-cont
		.page
			.mobile-toggle.mobile-toggle--cat
				.mobile-toggle__name Категории
				.mobile-toggle__icon
					+icon("arrow-down","icon")
			.category-wrap
				.category-title категории
				.category
					- for (var i=0;i<15;i++)
						.category__el-cont
							.category__el-item
								a(href="#").category__el
									.category__el-name Toyota
									.category__el-val 100
								+icon("arrow-right","icon category__el-toggle")
								.category__el-sub-wrapper
									- for (var j=0;j<5;j++)
										a(href="#").category__el-sub
											.category__el-sub-name Nissan
											.category__el-sub-val 12
			.content
				.bread
					a(href="#").bread__el Главная
					a(href="#").bread__el Марки автомобилей
					a(href="#").bread__el Toyota
					.bread__el Toyota Hilux
				h1.content-title toyota hilux
				.label
					a(href="#").label__el hilux 2016
					a(href="#").label__el land cruiser 100
					a(href="#").label__el land cruiser 70
				.description
					p Toyota Hilux- автомобиль с почти полувековой историей, на родном рынке внедорожник дебютировал аж в 1967 году, тогда автомобиль представлял из себя простенький пикап с маленьким двигателем на 1500 кубических сантиметра и 75 лошадиными силами, разгоняющих автомобиль до максимальных 130 километров в час и очень парадоксальным названием- Hilux, что означает highly luxurious (очень роскошный)
				.sort
					.sort__el
						.sort__el-name Показать
						.sort__el-icon
							+icon("arrow-down","icon")
						.sort__el-sub
							.sort__el-sub-row
								.sort__el-sub-check
									- for (var i=1;i<5;i++)
										.check-el
												label.style-label.style-label--radio
													input(type="radio" name="group-show").sytle-input
													.sytle-input-element
														+icon("checked","icon-check")
													.sytle-input-text #{i}
					.sort__el
						.sort__el-name Сортировка
						.sort__el-icon
							+icon("arrow-down","icon")
						.sort__el-sub
							.sort__el-sub-row
								.sort__el-sub-check
									- for (var i=1;i<5;i++)
										.check-el
											label.style-label.style-label--radio
												input(type="radio" name="group-sort").sytle-input
												.sytle-input-element
													+icon("checked","icon-check")
												.sytle-input-text #{i}



				.cards
					- for (var i=0;i<6;i++)
						.card
							.card-sort
								.card-sort__el
									+icon("compare","icon")
								.card-sort__el
									+icon("heart","icon")
							.card-container
								.card-img(style="background-image:url('img/item.png')")
								.card-content
									.card-title автомобильный бокс на крышу lux viking 460l черный, 2-х стороннее открытие
									.card-descr Багажные боксы LUX произведены в России, из высококачественного российского пластика ABS ...
									.card-info
										.card-info-row
											.card-info-name Марка:
											.card-info-val Toyota
										.card-info-row
											.card-info-name Страна:
											.card-info-val Россия
										.card-info-row
											.card-info-name Тип:
											.card-info-val Крышка кузова
										.card-info-row
											.card-info-name Подходит для:
											.card-info-val 2007 2008 2009
									.card-option-wrap
										.card-option
											.card-option-toggle
												.card-option__title
													span.open Выбрать опции
													span.close Закрыть опции
												+icon("arrow-right","icon")
											.options.scroll-container
												- for (var j=0;j<9;j++)
													.option__el
														.check-el
															label.style-label.style-label--checkbox
																input(type="checkbox").sytle-input
																.sytle-input-element
																	+icon("checked","icon-check")
																.sytle-input-text Кольца для крепления на кольцо 2 т.  4шт
																	span.option-price +4000 ₽
							.card-footer.incr__get-wrap
								.card-price 115 900 ₽
								.card-get.icr-btn в корзину
								.elements-icr-block.hidden
									.incr
										.incr__minus.incr--one.incr__nav -
										.incr__val
											span 1
											.incr__val-coner
										.incr__plus.incr__nav +
				.pagination-wrap
					.pagination__text Показано с 1 по 10 из 225 (всего 23 страниц)
					.pagination
						- for (var i=1;i<8;i++)
							a(href="#" class=i===1?'pagination__el--active':'').pagination__el #{i}

				.about-wrap
					.about
						h2.about-title Nissan Nevara
						p Toyota Hilux- автомобиль с почти полувековой историей, на родном рынке внедорожник дебютировал аж в 1967 году, тогда автомобиль представлял из себя простенький пикап с маленьким двигателем на 1500 кубических сантиметра и 75 лошадиными силами, разгоняющих автомобиль до максимальных 130 километров в час и очень парадоксальным названием- Hilux, что означает highly luxurious (очень роскошный)
					.about
						h2.about-title Кунг для Nissan Nevara
						p Toyota Hilux- автомобиль с почти полувековой историей, на родном рынке внедорожник дебютировал аж в 1967 году, тогда автомобиль представлял из себя простенький пикап с маленьким двигателем на 1500 кубических сантиметра и 75 лошадиными силами, разгоняющих автомобиль до максимальных 130 километров в час и очень парадоксальным названием- Hilux, что означает highly luxurious (очень роскошный)

.section-slider
	.main-cont
		.type-slider-wrap.slider-wrap
			.slider-control.slider-control--left
				+icon("arrow-left","icon")
			.slider-control.slider-control--right
				+icon("arrow-right","icon")
			.type-slider.slider-item
				- for (var i=0;i<2;i++)
					a(href="#").type-slider__el
						img(src="img/car-logo-1.png", alt="").type-slider__el-img
						.type-slider__el-title mercedes-benz
					a(href="#").type-slider__el
						img(src="img/car-logo-2.png", alt="").type-slider__el-img
						.type-slider__el-title toyota
					a(href="#").type-slider__el
						img(src="img/car-logo-3.png", alt="").type-slider__el-img
						.type-slider__el-title volkswagen
					a(href="#").type-slider__el
						img(src="img/car-logo-4.png", alt="").type-slider__el-img
						.type-slider__el-title land ROVER
					a(href="#").type-slider__el
						img(src="img/car-logo-5.png", alt="").type-slider__el-img
						.type-slider__el-title mazda
					a(href="#").type-slider__el
						img(src="img/car-logo-6.png", alt="").type-slider__el-img
						.type-slider__el-title mitsubishi

.info-wrap
	.main-cont
		.info
			.info-title мы специализируемся на пикапах
			.info-text Многолетний опыт продажи, установки и эксплуатации аксессуаров от многих российских и зарубежных производителей позволяет нам помогать своим клиентам в выборе оптимального решения
		.info-type
			.info-type__el
				.info-type__el-icon
					+icon("deliver","icon")
				.info-type__el-title доставка
				.info-type__el-text Отправка в любую точку России
			.info-type__el
				.info-type__el-icon
					+icon("box","icon")
				.info-type__el-title прямые поставки
				.info-type__el-text Прямые поставки от производителей
			.info-type__el
				.info-type__el-icon
					+icon("cart","icon")
				.info-type__el-title сертификация
				.info-type__el-text Все товары сертифицированы

.footer-top-wrap
	.main-cont
		.footer-top
			.footer-top__copy © PickupStyle 2018
			a(href="#").footer-top__lk
				+icon("user","icon")
				span Личный кабинет
			a(href="#").footer-top__politick Политика конфиденциальности
			a(href="#").footer-top__soc
				+icon("instagram","icon")
			a(href="#").footer-top__soc
				+icon("vk","icon")
.footer-wrap
	.main-cont
		.footer
			.footer__menu
				.footer__menu-title компания
				a(href="#").footer__menu__el О компании
				a(href="#").footer__menu__el Производители
				a(href="#").footer__menu__el Карта сайта
				a(href="#").footer__menu__el Контакты
			.footer__menu
				.footer__menu-title сервис и поддержка
				a(href="#").footer__menu__el Оплата и доставка
				a(href="#").footer__menu__el Как сделать заказ
				a(href="#").footer__menu__el Вопросы и ответы
				a(href="#").footer__menu__el Возврат товара
				a(href="#").footer__menu__el Возврат денежных средства
			.footer-location.slider-wrap
				.footer-location__title
					span наши филиалы
					.slider-control-wrap
						.slider-control.slider-control--left
							+icon("arrow-left","icon")
						.slider-control.slider-control--right
							+icon("arrow-right","icon")
				.footer-slider.slider-item
					- for (var i=0;i<3;i++)
						.footer-slider__el
							.footer-location__item
								.footer-location__icon
									+icon("location","icon")
								.footer-location__info
									.footer-location__town Новосибирск
									.footer-location__street ул. Немирович-Данченко д.120/2
									a(href="tel:8 800 555 35 35").footer-location__phone 8 800 555 35 35
							.footer-location__item
								.footer-location__icon
									+icon("location","icon")
								.footer-location__info
									.footer-location__town Новосибирск
									.footer-location__street ул. Немирович-Данченко д.120/2
									a(href="tel:8 800 555 35 35").footer-location__phone 8 800 555 35 35
			.footer-contact
				.footer-contact__title контакты
				.footer-contact__el
					.footer-contact__icon
						+icon("phone","icon")
					.footer-contact__info
						a(href="tel:+7 (983) 510-85-31").footer-contact__info-el +7 (983) 510-85-31
						a(href="tel:+7 (913) 937-44-35").footer-contact__info-el +7 (913) 937-44-35
				.footer-contact__el
					.footer-contact__icon
						+icon("mail","icon")
					.footer-contact__info
						a(href="mailto:Sales@pkstyle.ru").footer-contact__info-el Sales@pkstyle.ru
				.footer-contact__el
					.footer-contact__icon
						+icon("location","icon")
					.footer-contact__info
						.footer-contact__info-el Новосибирск ул. Немирович-Данченко д.120/2

.modal-layer
	.modal-filter

include ./block_html/_script.pug
